.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  border-right: 1px solid var(--border-color);
  background-color: var(--bg-primary);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transition: width 0.3s;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .sidebar-container {
    width: 80px;
  }
  .link-text, .sidebar-brand {
    display: none;
  }
  .sidebar-link {
    justify-content: center;
  }
  .sidebar-content {
    align-items: center;
  }
}

/* Mobile*/
@media (max-width: 767px) {
  .sidebar-container {
    display: none;
  }
}

.sidebar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-brand {
  margin-bottom: 30px;
  padding-left: 10px;
  font-family: 'Segoe UI', cursive; 
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  color: var(--text-primary);
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.2s;
  font-size: 16px;
}

.sidebar-link:hover {
  background-color: var(--bg-secondary);
}

.sidebar-link.active {
  font-weight: bold;
}

.logout-btn {
  color: #ff4757;
}

.badge-count {
  position: absolute;
  top: -5px;
  left: 18px; 
  background-color: #ed4956;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}