.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.feed-list {
  width: 100%;
  max-width: 470px;
}

.feed-spinner {
  display: flex;
  justify-content: center;
  padding: 50px;
}